#settings_plugin_ActivatePrusaHostTimer h4:first-child {
  margin-top: 0;
}

#settings_plugin_ActivatePrusaHostTimer .label-important {
  background-color: #b94a48;
  color: #cccccc;
  font-size: 14px;
  white-space: normal;
}

#settings_plugin_ActivatePrusaHostTimer .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-top: 5px;
}

#settings_plugin_ActivatePrusaHostTimer .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#settings_plugin_ActivatePrusaHostTimer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#settings_plugin_ActivatePrusaHostTimer .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#settings_plugin_ActivatePrusaHostTimer input:checked + .slider {
  background-color: #2196F3;
}

#settings_plugin_ActivatePrusaHostTimer input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#settings_plugin_ActivatePrusaHostTimer input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

#settings_plugin_ActivatePrusaHostTimer .slider.round {
  border-radius: 24px;
}

#settings_plugin_ActivatePrusaHostTimer .slider.round:before {
  border-radius: 50%;
}