{% import "macros.jinja2" as macros %}

<form class="form-horizontal">
    <h4>Activate Prusa HostTimer</h4>
    <h5>Ping Settings</h5>
    <div class="control-group">
        <div class="controls" data-bind="visible: {{ macros.settings_binding("detected_printer_model") }}() != 'mk3s'">
            <span class="help-inline">
                It looks like your printer model is <span data-bind="text: {{ macros.settings_binding("detected_printer_model") }}"></span>.<br />
                <span class="label label-important">Please note that only Prusa MK3S/+ printers are supported by this plugin!</span>
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ macros.id("ping_activated") }}">Activate Prusa host ping</label>
        <div class="controls">
            <label class="switch">
                <input type="checkbox" id="{{ macros.id("ping_activated") }}" data-bind="checked: {{ macros.settings_binding("ping_activated") }}">
                <span class="slider round"></span>
            </label>
            <em class="help-block" data-bind="visible: {{ macros.settings_binding("ping_activated") }}() == '0'">Ping is currently paused</em>
        </div>
    </div>
    <div data-bind="visible: {{ macros.settings_binding("ping_activated") }}">
        <div class="control-group">
            <label class="control-label" for="{{ macros.id("ping_interval") }}">Select interval</label>
            <div class="controls">
                <select id="{{ macros.id("ping_interval") }}" data-bind="value: {{ macros.settings_binding("ping_interval") }}">
                    <option value="5">5 seconds</option>
                    <option value="10">10 seconds</option>
                    <option value="15">15 seconds</option>
                    <option value="20">20 seconds</option>
                    <option value="25">25 seconds</option>
                </select>
                <em class="help-block">A ping is expected at least every 30 seconds</em>
            </div>
        </div>
        <br/>
        <h5>Notification Settings</h5>
        <div class="control-group">
            <label class="control-label" for="{{ macros.id("show_notifications") }}">Show Notifications</label>
            <div class="controls">
                <label class="switch">
                    <input type="checkbox" id="{{ macros.id("show_notifications") }}" data-bind="checked: {{ macros.settings_binding("show_notifications") }}">
                    <span class="slider round"></span>
                </label>
                <em class="help-block" data-bind="visible: {{ macros.settings_binding("show_notifications") }}() == '0'">Notifications are disabled</em>
            </div>
            <div class="controls" data-bind="visible: {{ macros.settings_binding("show_notifications") }}">
                <label class="checkbox">
                    <input type="checkbox" id="{{ macros.id("show_state_notifications") }}" data-bind="checked: {{ macros.settings_binding("show_state_notifications") }}">
                    <em class="help-block">Show "Set Ready" notifications</em>
                </label>
            </div>
            <div class="controls" data-bind="visible: {{ macros.settings_binding("show_notifications") }}">
                <label class="checkbox">
                    <input type="checkbox" id="{{ macros.id("show_sdcard_notifications") }}" data-bind="checked: {{ macros.settings_binding("show_sdcard_notifications") }}">
                    <em class="help-block">Show SDCard notifications</em>
                </label>
            </div>
        </div>
        <br/>
        <h5>Additional Settings</h5>
        <div class="control-group">
            <label class="control-label" for="{{ macros.id("start_on_ready") }}">Start print on "Set Ready"</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="{{ macros.id("start_on_ready") }}" data-bind="checked: {{ macros.settings_binding("start_on_ready") }}">
                    <em class="help-block">Automatically starts the selected print job when "Set Ready" is selected on the printers LCD menu</em>
                </label>
            </div>
        </div>
    </div>
</form>
