{% import "macros.jinja2" as macros %}

<form class="form-horizontal">
    <h5>{{ _('Activate Prusa HostTimer') }}</h5>
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="{{ macros.id("interval") }}">Select interval:</label>
            <div class="controls">
                <select id="{{ macros.id("interval") }}" data-bind="value: {{ macros.settings_binding("interval") }}">
                    <option value="5000">5 seconds</option>
                    <option value="10000">10 seconds</option>
                    <option value="15000">15 seconds</option>
                    <option value="20000">20 seconds</option>
                    <option value="25000">25 seconds</option>
                </select>
                <em class="help-block">A ping is expected at least every 30 seconds</em>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="{{ macros.id("paused") }}">Pause Prusa Host Ping</label>
            <div class="controls">
                <label class="switch">
                    <input type="checkbox" id="{{ macros.id("paused") }}" data-bind="checked: {{ macros.settings_binding("paused") }}">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</form>
